*{
    padding: 0;
    margin: 0;
}
ul li{
    display: inline-block;
}
.header{
    background-color: dimgrey;
}
.header_box{
    /*border: 3px solid red;
    overflow: hidden;*/
    width: 960px;
    height: 50px;
    margin: 0 auto;
}
.top_left{
    height: 50px;
    line-height: 50px;
    color: beige;
}
.top_right{
    float: right;
    margin-left: 15px;
    line-height: 25px;
}
a{
    color: beige;
}
.banner{
    background-color: #66bb33;
}
.number_box{
    /*border: 3px solid rgb(98, 0, 255);
    overflow: hidden;*/
    width: 960px;
    height: 180px;
    margin: 0 auto;
    position: relative;
}
.number{
    position: absolute;
    right: 15px;
    bottom: 5px;
}
.number li{
    border:  1px solid black;
    width: 15px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #b2dd99;
    font-size: 12px;
}
.number li.number_top{
    padding-top: 10px;
    background-color: beige;
}

.daohang{
    border-bottom:1px solid #ddd;
}
.daohang_box{
    /*border: 3px solid rgb(98, 0, 255);
    overflow: hidden;*/
    width: 960px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}
.daohang_box_A{
    position: absolute;
    bottom: -1px;
}
.daohang ul{
    font-size: 0px;/*消除li中间的空格，但是下面要重新定义字体*/
}
.daohang li{
    border: 1px solid #ddd;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    background-color:  #eeeeee;
    font-size: 12px;
}
.daohang li.daohang_bottom{
    background-color: white;
    border-bottom:1px solid white;
}
.content_box{
    width: 960px;
    margin: 0 auto;
}
.content_box li{
    border: 1px solid #ddd;
    padding: 55px;
    margin: 5px;
}
.content{
    display: flex;/*弹性盒子*/
    justify-content: space-between;/*两端对齐，子元素之间有间隙*/
}

.item1{
    flex:1 1 35%;
}
.item2{
    flex:1 1 28%;
}
.item3{
    flex:1 1 25%;
}
.item4{
    flex:1 1 33%
}
.foot{
    height: 60px;
    line-height: 60px;
    background-color: dimgrey;
    text-align: center;
}